# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
/dist
/build

# VS Code
.vscode/

# IDEs
.idea/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
*.log.*

# Mac System Files
.DS_Store

# Spring Boot (Backend)
*.log
*.class
*.jar
*.war
*.ear
target/

# IntelliJ IDEA
*.iml

# Temporary files
*.swp
*.swo

# Arquivos de configuração do NPM
package-lock.json
yarn.lock

